obsessive_coder





 
Message List
Jared Huffstutler 
obsessive_coder
Teaching assistant at the University of Arizona
This is the very beginning of your direct message history with @obsessive_coder

Stacey Carrillo [7:52 AM]
Hi there Happy Tuesday, thank you for answering my tutoring request.

Jared Huffstutler [5:35 PM]
Hi Stacey! i look forward to meeting you. Have you had a chance to schedule our first session? Does my availability work for you?

Stacey Carrillo [5:51 PM]
Where do I schedule the session? I didn't see that. Thanks!

Jared Huffstutler [6:30 PM]
https://calendly.com/jaredhuffstutler/tutoring-session

Stacey Carrillo [7:55 PM]
I just scheduled a session with you for this Sunday at 3 pm. I need help with jQuery. We just started looking at it  and it's very challenging

Jared Huffstutler [11:47 AM]
https://zoom.us/j/9473082085
Zoom Video
Join our Cloud HD Video Meeting now
Zoom is the leader in modern enterprise video communications, with an easy, reliable cloud platform for video and audio conferencing, chat, and webinars across mobile, desktop, and room systems. Zoom Rooms is the original software-based conference room solution used around the world in board, conference, huddle, and training rooms, as well as executive offices and classrooms. Founded in 2011, Zoom helps businesses and organizations bring their teams together in a frictionless environment to get more done. Zoom is a private company headquartered in San Jose, CA.
https://d24cgw3uvb9a9h.cloudfront.net/static/91244/image/thumb.png

Jared Huffstutler [3:14 PM]
https://calendly.com/jaredhuffstutler/tutoring-session

Jared Huffstutler [3:29 PM]
Untitled 
/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
​
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
Collapse 

Message Input

Message @Jared Huffstutler