body {
    padding-bottom: 18px;
    background-repeat: repeat;
}

.jumbotron {
padding: 3px;
align-self: center;       
text-align: center;
}

.instructions {
    background-color: #f6f6f6;
    border-color: #B0DFE5;
    border-style: solid;
    padding: 7px;
    margin: 2px 0px 14px 0px;
    border-radius: 25px;
}

.purple {
    float: left;
}

.opal {
    float: left;
}

.rose-quartz {
    float: left;
}

.tanzanite {
    float: left;
}

.current {
    margin-top: 7px;
}

.total {
    float: left;
}

.wins {
    float: left;
}

.losses {
 float: left;
 clear: right;
}

.total {
    clear: both;
}

.buttonRose {
    background-image: url("../images/pink-watercolor.jpg");
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 80%;
    float: left;
}
